
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    height: 10vh;
    background-color: #1b1402;

}
.navbar h1{
    color: white;
    font-size: 24px;
    transition: 0.2s;
    cursor: pointer;
    margin-left: 15%;
    margin-top: 10px;
}
@media (max-width: 575.98px) {
    .navbar h1{
        color: white;
        font-size: 10px;
        transition: 0.2s;
        cursor: pointer;
        margin-left: 4%;
        margin-top: 10px;
    }
 }
.navbar h1:hover{
    
    color: yellowgreen;
}


.header{
    height: 100vh;
    background-image: url(./images/blue.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 575.98px){
    .header{
        height: 90vh;
        background-image: url(./images/blue.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.header img{
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-50%,-50%);
}
@media (max-width: 575.98px){
    .header img{
        position: absolute;
        top: 35%;
        left: 6%;
        width: 90%;
        transform: translate(-50%,-50%);
    }
    

}
.header .pic1{
    position: absolute;
    top: 86%;
    left: 59%;
    font-size: 25px;
    font-weight: 600;
    transform: translate(-50%,-50%);
}
@media (max-width: 575.98px){
.header .pic1{
    position: absolute;
    top: 57%;
    left: 69%;
   width: 50%;
    font-weight: 600;
    transform: translate(-50%,-50%);
}
}
.header .pic2{
    position: absolute;
    top: 23%;
    left: 50%;
    font-size: 25px;
    font-weight: 600;
    transform: translate(-50%,-50%);
}
@media (max-width: 575.98px){
    .header .pic2{
        position: absolute;
        top: 25%;
        left: 50%;
        width: 60%;
        font-size: 25px;
        font-weight: 600;
        transform: translate(-50%,-50%);
    }
}
.main-content{
    height: 450vh;
    background-color: #1b1402;
}
@media (max-width: 575.98px){
    .main-content{
        height: 328vh;
        background-color: #1b1402;
    }
}

.main-content h1{
    padding-top: 10%;
    margin-bottom: 30px;
    line-height: 4rem;
    color: white;
}
@media (max-width: 575.98px){
    .main-content h1{
        padding-top: 10%;
        margin-bottom: 30px;
        line-height: 4rem;
        font-size: 18px;
        color: white;
    }
}
.main-content h2{
    line-height: 4rem;
    color: #fff;
}
@media (max-width: 575.98px){
    .main-content h2{
        line-height: 1rem;
        color: #fff;
        font-size: 15px;
    }
}
.main-content h3{
    font-size: 20px;
    color: #fff;
}
@media (max-width: 575.98px){
    .main-content h3{
        font-size: 15px;
        color: #fff;
    }
}
.main-content .content{
    line-height: 2rem;
    color: #fff;
    font-size: 26px;
}
@media (max-width: 575.98px){
    .main-content .content{
        line-height: 1rem;
        color: #fff;
        font-size: 15px;
    }
}
.main-content .arrow{
    position: absolute;
    margin-left: 20%;
    margin-top: 19%;
    
}
@media (max-width: 575.98px){
    .main-content .arrow{
        position: absolute;
        margin-left: -20%;
        margin-top: 60%;
    }
}
.main-content .pic7{
    width: 140%;
}
@media (max-width: 575.98px){
    .main-content .pic7{
     width: 90%;
    }
}

@media (max-width: 575.98px){
    .main-content .pic3{
        width: 100%;
    }
}
@media (max-width: 575.98px){
    .main-content .pic4{
        width: 100%;
    }
}
@media (max-width: 575.98px){
    .main-content .pic5{
        width: 100%;
    }
}
@media (max-width: 575.98px){
    .main-content .pic6{
        width: 100%;
    }
}




.footer{
    height: 18vh;
    background-color: #000;
}
.footer .foot-text{
    font-size: 13px;
    color: #fff;
    padding-top: 3%;
}
@media (max-width: 575.98px){
    .footer .foot-text{
        font-size: 10px;
        padding-top: 9%;
    }
}